.headerContainer {
  min-height: var(--header-height);
  padding-inline: var(--reader-layout-header-padding-x);
}

.headerGradient {
  background: linear-gradient(
    to bottom,
    rgb(255 255 255 / 15%),
    rgb(255 255 255 / 5%),
    transparent
  );
}

.headerButton {
  border: 0;
  background-color: rgb(0 0 0 / 40%);
  color: var(--app-fg);
}

.headerButton:hover {
  background-color: rgb(0 0 0 / 55%);
}

.chapterTitle {
  font-size: var(--reader-font-chapter-title-size);
  line-height: var(--reader-font-chapter-title-line-height);
  font-weight: var(--reader-font-chapter-title-weight);
  color: #f6e7c5;
}
